@grey: #3b4148;

input {
  border: none;
  padding: 0;
}

.feedback-form {
  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 10px;
    &-close {
      padding-top: 5px;
      width: 5%;
      height: 5%;
    }
  }
  &__item {
    background-color: @grey;
    border-radius: 3px;
    color: white;
    padding: 0 10px;
    width: 85%;
    height: 50px;
  }
  &__btn {
    border-radius: 3px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 93%;
    height: 50px;
    margin-top: 10px;
  }
  &__error {
    color: brown;
    padding: 0 0 10px 2px;
  }
}
