<div class="feedback-form">
  <div class="feedback-form__title">
    <p>Обратная связь</p>
    <input class="feedback-form__title-close" type="image" src="assets/close.png" (click)="onClose()">
  </div>
  <form>
    <p><input class="feedback-form__item" type="text" placeholder="Фамилия" required></p>
    <p><input class="feedback-form__item" type="text" placeholder="Имя" required></p>
    <p><input class="feedback-form__item" type="text" placeholder="Телефон" required></p>
    <p><input class="feedback-form__item" type="email" placeholder="Почта" required></p>
    <p><input class="feedback-form__btn" type="submit" value="Отправить"></p>
  </form>
</div>
