<header>
  <nav class="header__nav">
    <a routerLink="">
      <img src="assets/main-logo.png" alt="Логотип">
    </a>
    <a routerLink="catalog" class="header__item">КАТАЛОГ</a>
    <a routerLink="history" class="header__item">ИСТОРИЯ БРЕНДОВ</a>
    <a routerLink="news" class="header__item">АВТОМОБИЛЬНЫЕ НОВОСТИ</a>

  </nav>
  <button mat-stroked-button>Basic</button>
</header>


<router-outlet></router-outlet>

<div class="footer">
  <div class="footer__item">
    <img src="assets/main-logo-large.png" alt="Логотип" width="35%">
    <p class="footer__item-copyright">© 2022
      <span class="footer__item-copyright__orange">Автомобильный каталог</span>. Разработан
      <span class="footer__item-copyright__orange">RA</span>
    </p>
  </div>
  <div class="footer__item">
    <ul>
      <li class="footer__item-title">Информация</li>
      <li class="footer__item-btn" (click)="openModalDevInfo()">О разработчиках</li>
      <li class="footer__item-btn" (click)="openModalFeedback()">Связаться с нами</li>
      <li class="footer__item-btn" (click)="openModalLogin()">Войти администратору</li>
    </ul>
  </div>
  <div class="footer__item">
    <ul>
      <li class="footer__item-title">О проекте</li>
      <li>
        Автомобильной каталог предназначен для упрощения жизни людей, заключающееся в
        удобном, быстром и безопасном подборе транспортного средства в соответствии с желаемыми
        параметрами каждого человека.
      </li>
    </ul>
  </div>
</div>
