<nav class="header">
  <a routerLink="">
    <img src="assets/main-logo.png" alt="Логотип">
  </a>
  <a routerLink="catalog" class="header__item">КАТАЛОГ</a>
  <a routerLink="history" class="header__item">ИСТОРИЯ БРЕНДОВ</a>
  <a routerLink="news" class="header__item">АВТОМОБИЛЬНЫЕ НОВОСТИ</a>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  <div class="footer__item">
    <img src="assets/main-logo-large.png" alt="Логотип">
    <p class="footer__item-copyright">© 2022
      <span class="footer__item-copyright__orange">Автомобильный каталог</span>. Разработан
      <span class="footer__item-copyright__orange">ERA</span>
    </p>
  </div>
  <div class="footer__item">
    <ul>
      <li class="footer__item-title">Информация</li>
      <li>О разработчиках</li>
      <li>Связаться с нами</li>
    </ul>
  </div>
  <div class="footer__item">
    <ul>
      <li class="footer__item-title">О проекте</li>
      <li>
        Автомобильной каталог предназначен для упрощения жизни людей, заключающееся в
        удобном, быстром и безопасном подборе транспортного средства в соответствии с желаемыми
        параметрами и финансовыми возможностями каждого человека.
      </li>
    </ul>
  </div>
</div>
