<div class="news__container">
  <mat-card class="news__card" *ngFor="let d of newsDisplay">
    <img mat-card-image src="{{d.urlToImage}}" alt="news_image">
    <mat-card-title>{{d.title}}</mat-card-title>
    <mat-card-content>
      <p>
        {{d.description}}
      </p>
    </mat-card-content>
    <div class="article-info">
      <mat-card-subtitle>{{d.author}}</mat-card-subtitle>
      <mat-card-subtitle>{{d.publishedAt}}</mat-card-subtitle>
    </div>
    <mat-card-footer>
      <a mat-button href="{{d.url}}" target="_blank">Читать далее</a>
    </mat-card-footer>
  </mat-card>
</div>
