<div class="main">
  <p class="main__title">
    Автомобильный каталог
  </p>
  <p class="main__text">
    Ваш личный помощник для поиска идеального автомобиля
  </p>
  <img class="main__img" src="assets/main-car.jpg" alt="Автомобиль">
</div>
<div class="info">
  <div class="info__item">
    <img src="assets/speed.png" alt="Быстро">
    <p class="info__item-title">Быстро</p>
    <p>
      Подбор подходящего автомобиля в соответствии с желаемыми характеристиками
      осуществляется за несколько кликов.
    </p>
  </div>
  <div class="info__item">
    <img src="assets/actual.png" alt="Актуально">
    <p class="info__item-title">Актуально</p>
    <p>
      Каталог постоянно обновляется, обеспечивая актуальность представленных в нем данных.
    </p>
  </div>
  <div class="info__item">
    <img src="assets/safety.png" alt="Безопасно">
    <p class="info__item-title">Безопасно</p>
    <p>
      Все автомобили, представленные в каталоге, прошли верификацию и являются оригинальными
      моделями.
    </p>
  </div>
  <div class="info__item">
    <img src="assets/reliably.png" alt="Надежно">
    <p class="info__item-title">Надежно</p>
    <p>
      Автомобили наших брендов-партнеров рассчитаны на долгие годы использования и являются
      чрезвычайно надежными.
    </p>
  </div>
</div>

