<div class="header">
  <a href="/history#bmw">BMW</a>
  <a href="/history#mercedes">MERCEDES-BENZ</a>
  <a href="/history#lexus">LEXUS</a>
  <a href="/history#audi">AUDI</a>
</div>
<div class="main">
  <div class="main__title" id="bmw">
    <p class="main__title-text">BMW</p>
    <img src="./assets/BMW-logo.png" alt="Логотип BMW" height="30">
  </div>
  <div class="main__info">
    <img class="main__info-img" src="./assets/BMW-501.png" alt="Старый BMW">
    <p class="main__info-text">
      История BMW начиналась в баварском Мюнхене, где в 1913 году немецкие промышленники
      Рапп и Отто открыли два небольших предприятия. Новые фирмы занимались производством
      авиационных моторов, и их руководители вскоре приняли решение объединиться, чтобы
      вместе выдержать жесткую рыночную конкуренцию. Совместная компания получила название
      Bayerische Flugzeugwerke — «Баварские авиационные заводы».
      <br><br>
      Осенью 1917 года была создана эмблема БМВ, которая осталась неизменной до настоящего
      времени: круг, разделенный на четыре части (две белых и две голубых). Эти цвета
      считаются традиционно баварскими. Долгое время считалось, что рисунок символизировал
      пропеллер самолета на фоне ясного неба.
    </p>
  </div>
</div>
<div class="indent"></div>
<div class="detail">
  <hr>
  <div class="detail__text">
    <img class="detail__text-img" src="./assets/allow-right.png" alt="Стрелка">
    <p class="detail__text-plain" (click)="showInfo()">Показать подробную информацию</p>
    <p class="detail__text-hidden">Скрыть подробную информацию</p>
  </div>
  <div id="bmw_info" class="detail__info">
    <img class="detail__info-img" src="./assets/BMW-328.png" alt="Старая BMW">
    <p>
      Первый автомобиль BMW сошел с конвейера в 1929 году — это была малолитражная модель,
      выпускавшаяся по лицензии британской Austin Motor Company. BMW Dixi 3/15 PS был похож
      на английский Austin 7, чрезвычайно популярным в европейских странах. Автомобиль
      оснащался 20-сильным мотором и мог развить скорость до 80 км/ч.
      <br><br>
      В 1955 г. компания наладила выпуск малолитражных моделей «Исетта» — трехколесного
      гибрида автомобиля и мотоцикла. Низкая цена «Исетты» для страны, разоренной войной,
      стала ключевым фактором ее популярности. Однако экономика Германии быстро росла, и
      интерес публики переключился на крупные автомобили. BMW вновь оказался в серьезном
      кризисе: основной конкурент Mercedes-Benz начал готовиться к выкупу компании.
      <br><br>
      В настоящее время
      баварский концерн продолжает работу над улучшением своих моделей и созданием
      технологических новинок, которых нет у других брендов. «Автомобиль для водителя»:
      озвученный десятилетия назад принцип остается основным ориентиром для инженеров и
      дизайнеров BMW. Покупатели оценивают такой подход по достоинству — каждая новая модель
      становится хитом продаж.
    </p>
  </div>
</div>
<div class="indent"></div>
<div class="main">
  <div class="main__title" id="mercedes">
    <p class="main__title-text">MERCEDES-BENZ</p>
    <img src="./assets/Mercedes-Bens-logo.png" alt="Логотип Mercedes" height="30">
  </div>
  <div class="main__info">
    <img class="main__info-img" src="./assets/Mercedes-Benz-190SL.png" alt="Старый Mercedes">
    <p class="main__info-text">
      История марки Mercedes-Benz слагается из историй двух известных немецких автомобильных
      компаний — Benz & Cie. (основана Карлом Бенцем в 1883 году) и Daimler-Motoren-Gesellschaft
      (основана Готлибом Даймлером в 1890 году). Обе компании развивались самостоятельно до
      1926 года, когда они объединились в единый концерн Daimler-Benz, впоследствии
      переименованный в Daimler AG.
      <br><br>
      Первый грузовой автомобиль был построен компанией Daimler-Motoren-Gesellschaft, первый
      автобус – Benz & Cie. Эта же компания после Первой мировой войны выпустила первый
      грузовик с дизелем.
    </p>
  </div>
</div>
<div class="indent"></div>
<div class="detail">
  <hr>
  <div class="detail__text">
    <img class="detail__text-img" src="./assets/allow-right.png" alt="Стрелка">
    <p class="detail__text-plain">Показать подробную информацию</p>
    <p class="detail__text-hidden">Скрыть подробную информацию</p>
  </div>
  <div class="detail__info">
    <img class="detail__info-img" src="./assets/Mercedes-Benz-219-type-W.png" alt="Старый Mercedes">
    <p>
      В 1953 году бизнесмен Макс Гоффман предложил компании создать для американского рынка
      дорожную версию спорткара W194. Последний отличался футуристической формой кузова и
      дверьми, которые открывались вверх, чтобы уменьшить вес и увеличить прочность.
      <br><br>
      Премьера Mercedes-Benz W198 (300SL) состоялась в 1954 году и означала небывалый успех:
      80% всех автомобилей модели поставлялись в США, где раскупались на аукционах. Машина
      комплектовалась двигателем с системой впрыска топлива Bosch, который развивал 215 л.с.
      и позволял ей разогнаться до 250 км/час.
      <br><br>
      В 2000-х годах были обновлены автомобили семейств C, S и CL класса, существенно расширился
      модельный ряд автопроизводителя. Компания развивает направление экологически чистого
      транспорта, а также совершенствует технологическую «начинку» своих авто, чтобы по-прежнему
      занимать лидирующие позиции на автомобильном рынке, когда наступит очередная революция в
      развитии транспортных средств.
    </p>
  </div>
</div>
<div class="indent"></div>
<div class="main">
  <div class="main__title" id="lexus">
    <p class="main__title-text">LEXUS</p>
    <img src="./assets/Lexus-logo.png" alt="Логотип Lexus" height="30">
  </div>
  <div class="main__info">
    <img class="main__info-img" src="./assets/Lexus-LS-2000.png" alt="Старый Lexus">
    <p class="main__info-text">
      История марки начинается в 1983 году, когда председатель правления Toyota Эйдзи Тойода
      поставил задачу создать лучший в мире представительский автомобиль. После топливного
      кризиса, отшумевшего в 70-х, взгляды покупателей вновь были обращены на премиум-сегмент,
      который демонстрировал стабильный рост год от года. Особенно ярко эта тенденция была
      выражена в США. Там компания Toyota Motor уже закрепилась в качестве производителя
      надежных и качественных автомобилей. Однако сегмент люксовых машин охвачен не был, и
      японская автокомпания не собиралась отказываться от столь привлекательной части рынка.
      <br><br>
      В 1989 году, после длительных разработок с участием 60 дизайнеров, 24 инженерных команд,
      1400 инженеров, 2300 механиков, 220 сотрудников поддержки, выпущенных 450 прототипов и
      более 1 млрд долларов инвестиций проект был завершен. Результатом был впечатляющий и ни
      на что не похожий — Lexus LS 400 с уникальным дизайном, новым 4-литровым мотором V8 и
      задним приводом.
    </p>
  </div>
</div>
<div class="indent"></div>
<div class="detail">
  <hr>
  <div class="detail__text">
    <img class="detail__text-img" src="./assets/allow-right.png" alt="Стрелка">
    <p class="detail__text-plain">Показать подробную информацию</p>
    <p class="detail__text-hidden">Скрыть подробную информацию</p>
  </div>
  <div class="detail__info">
    <img class="detail__info-img" src="./assets/Lexus-IS500F.png" alt="Lexus">
    <p>
      В 2005 году марка запущена на японском рынке, а также завершено ее отделение от
      материнской компании. До этого в Европе и России Lexus продавали лишь несколько дилеров.
      Однако сейчас она взяла курс на повышение продаж за счет расширения линейки силовых
      агрегатов включением гибридных и дизельных установок. Lexus обратил пристальное внимание
      на развивающиеся рынки, в том числе российский, и объявил о намерении увеличить количество
      дилеров.
      <br><br>
      После 2000 года автомобили марки начали изготавливать на других заводах в Японии. Для
      североамериканского рынка сборка осуществляется в Канаде. Сегодня, как и в самом начале
      своего пути, марка является одним из лидеров в классе, задавая стандарты качества для
      всей отрасли.
    </p>
  </div>
</div>
<div class="indent"></div>
<div class="main">
  <div class="main__title" id="audi">
    <p class="main__title-text">AUDI</p>
    <img src="./assets/Audi-logo.png" alt="Логотип Audi" height="30">
  </div>
  <div class="main__info">
    <img class="main__info-img" src="./assets/Audi-GT.png" alt="Audi">
    <p class="main__info-text">
      История Audi уходит корнями во времена зарождения автомобилестроения. В 1899 году
      гениальный немецкий инженер Август Хорьх основал свой первый автомобильный завод и
      положил начало будущему концерну. Однако спустя 10 лет, из-за разногласий с компаньонами,
      ему пришлось покинуть правление фирмы собственного имени. Заняв у друзей и деловых
      партнеров огромную по тем временам сумму в 200 тыс. марок, необходимых для нового
      предприятия, Хорьх, чья фамилия в переводе значит «слушай», мучительно думал над
      возможным названием своей новой фирмы. И как-то раз мальчик-школьник, сын одного из
      друзей инженера, как раз изучавший латынь, склонял в его присутствии глагол audire
      («слушать»). Название новой фирмы, которое стало синонимом слова «Хорьх», было придумано:
      Audi — «слушай!»
      <br><br>
      В последующие два десятилетия «новорожденная» марка успела завоевать признание покупателей.
      Модели Audi побеждали в престижных спортивных соревнованиях, на них ездили многие тогдашние
      знаменитости, а роскошный Audi Type R, дебютировавший в 1928 году, с технической точки
      зрения олицетворял собой наивысший уровень достижений автомобилестроения того времени:
      восьмицилиндровый двигатель мощностью 100 л.с. разгонял кабриолет до фантастической тогда
      скорости 110 км/ч!
    </p>
  </div>
</div>
<div class="indent"></div>
<div class="detail">
  <hr>
  <div class="detail__text">
    <img class="detail__text-img" src="./assets/allow-right.png" alt="Стрелка">
    <p class="detail__text-plain">Показать подробную информацию</p>
    <p class="detail__text-hidden">Скрыть подробную информацию</p>
  </div>
  <div class="detail__info">
    <img class="detail__info-img" src="./assets/Audi-A6.png" alt="Audi">
    <p>
      2016 год ознаменовался для марки открытием первого производства на американском
      континенте. Завод в городе Сан-Хосе-Чьяпа, штат Пуэбла, Мексика, рассчитан на
      производство 150 тыс. автомобилей в год. Два года спустя в столице Бельгии Брюсселе был
      открыт завод по производству новейшего семейства моделей на электрической тяге. Его
      родоначальником стал первый серийный полностью электрический кроссовер Audi e-tron,
      поступивший в продажу в 2019 году. Уже через год марка представила миру пять новых
      электромобилей, в том числе бескомпромиссный Audi RS e-tron GT мощностью 440 кВт, сборка
      которого производится на предприятии Audi Sport GmBH в Хайльбронне.
      <br><br>
      Актуальная экологическая стратегия бренда предусматривает сокращение на 30 процентов
      суммарных выбросов CO₂ к 2025 году. Для этого к середине десятилетия в гамме появится не
      менее 20 полностью электрических моделей. Долгосрочная цель – полная углеродная
      нейтральность и мобильность без выбросов к 2050 году. В настоящее время в концерне работают
      более 87 тыс. человек, 60 тыс. из них – в Германии. Автомобили и мотоциклы официально
      представлены более чем на 100 рынках, а 19 производственных площадок Audi расположены в 12
      странах мира. В центре внимания деятельности концерна Audi находится разработка новых
      моделей и экологических технологий будущего. Мощность и качество, требования, которые
      предъявлял к машинам основатель марки Август Хорьх, сегодня воплощаются в каждом
      автомобиле Audi.
    </p>
  </div>
</div>
