<div class="login-admin-form">
  <div class="login-admin-form__title">
    <h2>Авторизация администратора</h2>
  </div>
  <form [formGroup]="loginAdminForm" novalidate>
    <p>
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <p>
      <button mat-stroked-button (click)="loginAdmin()">Войти</button>
    </p>
  </form>
</div>
