<p class="title">Модельный ряд</p>
<div class="main">
  <div class="main__checkbox">
    <p class="main__checkbox-title">Название бренда</p>
    <label class="main__checkbox-item">
      <input type="checkbox">
      BMW
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox">
      Mercedes-Benz
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox">
      Lexus
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox">
      Audi
    </label>
    <p class="main__checkbox-title">Предельная скорость</p>
    <label class="main__checkbox-item">
      <input type="checkbox">
      120 км/ч
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox">
      130 км/ч
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox">
      140 км/ч
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox">
      150 км/ч
    </label>
  </div>
  <div class="main__catalog">
    <div class="main__catalog-item">
      <img src="assets/catalog-car.png" alt="Автомобиль каталога">
      <p class="title-catalog-item">BMW X4</p>
      <p>Предельная скорость 130 км/ч</p>
      <div class="main__catalog-item__text">
        <img src="assets/allow-right.png" alt="Стрелка вправо">
        <p>Подробнее о модели</p>
      </div>
    </div>
    <div class="main__catalog-item">
      <img src="assets/catalog-car.png" alt="Автомобиль каталога">
      <p class="title-catalog-item">BMW X4</p>
      <p>Предельная скорость 130 км/ч</p>
      <div class="main__catalog-item__text">
        <img src="assets/allow-right.png" alt="Стрелка вправо">
        <p>Подробнее о модели</p>
      </div>
    </div>
    <div class="main__catalog-item">
      <img src="assets/catalog-car.png" alt="Автомобиль каталога">
      <p class="title-catalog-item">BMW X4</p>
      <p>Предельная скорость 130 км/ч</p>
      <div class="main__catalog-item__text">
        <img src="assets/allow-right.png" alt="Стрелка вправо">
        <p>Подробнее о модели</p>
      </div>
    </div>
    <div class="main__catalog-item">
      <img src="assets/catalog-car.png" alt="Автомобиль каталога">
      <p class="title-catalog-item">BMW X4</p>
      <p>Предельная скорость 130 км/ч</p>
      <div class="main__catalog-item__text">
        <img src="assets/allow-right.png" alt="Стрелка вправо">
        <p>Подробнее о модели</p>
      </div>
    </div>
  </div>
</div>
