<p class="title" *ngIf="!access">Модельный ряд</p>
<div class="main">
  <div class="main__checkbox">
    <p class="main__checkbox-title">Название бренда</p>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceBrand(1)">
      <span></span>
      BMW
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceBrand(2)">
      <span></span>
      Mercedes-Benz
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceBrand(3)">
      <span></span>
      Lexus
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceBrand(4)">
      <span></span>
      Audi
    </label>
    <p class="main__checkbox-title">Предельная скорость</p>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceMaxSpeed(1)">
      <span></span>
      <201 км/ч
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceMaxSpeed(2)">
      <span></span>
      201-220 км/ч
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceMaxSpeed(3)">
      <span></span>
      221-240 км/ч
    </label>
    <label class="main__checkbox-item">
      <input type="checkbox" (change)="choiceMaxSpeed(4)">
      <span></span>
      >240 км/ч
    </label>
    <div class="main__checkbox-but">
      <button class="main__checkbox-but__item" (click)="applyFilter()">Применить</button>
      <button class="main__checkbox-but__item" (click)="resetFilter()">Сбросить</button>
    </div>
  </div>

  <div class="main__catalog" >
    <ng-container *ngFor="let car of cars">
      <div class="main__catalog-item" *ngIf="checkMaxSpeed(car.max_speed)&&checkBrand(car.model)">
        <img class="main__catalog-item__img" src="assets/{{car.model}}.jpg" alt="Автомобиль каталога">
        <p class="title-catalog-item">{{car.model}}</p>
        <p>Предельная скорость {{car.max_speed}} км/ч</p>
        <div class="main__catalog-item__text"    (click)="openModalCar(car.id)">
          <img src="assets/allow-right.png" alt="Стрелка вправо">
          <p>Подробнее о модели</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="footer ">
  <img *ngIf="access" class="footer__but" src="assets/plus.png" alt="Добавить">
</div>


